*{
	margin:  0;
	padding:  0;
}
body{
	background-color: #102640;
	font-family: 'Montserrat', sans-serif;
  	overflow: hidden;
	color: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*------------------------------------------------------------*/

/*Phone*/
.clock{
	background-color: #123155;
	width: 80%;
	padding: 20px 20px;
	border-radius: 25px;
	box-shadow: 0 3 6 #000000;

}
.date{
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 4px;
}
.time{
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 6px;
	letter-spacing: 4px;
	text-align: center;
}
.time span:not(:last-child){
	font-weight: 600;
}
.dayphases{
	text-align: center;
	letter-spacing: 4px;
	font-size: 15px;
	display: grid;
	grid-template: 1fr / 1fr;
	justify-content: center;
	align-items: center;
	
}

.dayphasestext{
	text-align: center;
	letter-spacing: 4px;
	font-size: 15px;
}
.dayphases > *{
	grid-column: 1 / 1;
	grid-row:  1 / 1;
}

.image{
	display: flex;
	position: relative;
	justify-content: center;
	height: 60%;
	
<<<<<<< HEAD
}
#noon{
	animation-name: spin;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#afternoon{
	animation-name: spin2;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
=======
>>>>>>> 435aa4fc996fc9dac0e3041870399f8afb25af58
}


/*End Phone*/

/*------------------------------------------------------------*/

/*Tablet*/
@media only screen and (min-width: 600px) {
.clock{
	width: 70%;
}
.date{
	font-size: 15px;
}
.time{
	font-size: 50px;
}
.dayphasestext{
	font-size: 15px;
}
.image{
	height: 75%;
<<<<<<< HEAD
}
#noon{
	animation-name: spin;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#afternoon{
	animation-name: spin2;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
=======

>>>>>>> 435aa4fc996fc9dac0e3041870399f8afb25af58
}
}
/*End Tablet*/

/*------------------------------------------------------------*/

/* Small desktop*/

@media only screen and (min-width: 992px) {
.clock{
	width: 55%;
}
.date{
	font-size: 20px;
}
.time{
	font-size: 60px;
}
.dayphasestext{
	font-size: 20px;
}
.image{
	height: 80%;
<<<<<<< HEAD
}
#noon{
	animation-name: spin;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#afternoon{
	animation-name: spin2;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
=======

>>>>>>> 435aa4fc996fc9dac0e3041870399f8afb25af58
}
}
/* End Small desktop */

/*------------------------------------------------------------*/

/*Desktop*/
@media only screen and (min-width: 1200px) {
.clock{
	width: 45%;
}
.date{
	font-size: 30px;
}
.time{
	font-size: 70px;
}
.dayphasestext{
	font-size: 30px;
}
.image{
	height: 90%;
<<<<<<< HEAD
}
=======
>>>>>>> 435aa4fc996fc9dac0e3041870399f8afb25af58

#noon{
	animation-name: spin;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#afternoon{
	animation-name: spin2;
	animation-duration: 15000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
}
/*End Desktop*/